footer {
    color: black;
    background-color: #DDE7F0;
    padding-bottom: 3%;
}

.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.footer-address {
    align-self: flex-end;
}

.instagram,
.facebook,
.twitter,
.linkedin,
.glassdoor {
    fill: black;
}