<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
    </head>
   
    <footer style="color: Black;background-color: #DDE7F0; padding-bottom: 3%">
        <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
                <div class="footer-address" style="align-self: flex-end;">
                    <h1 class=" Footer__Heading-z0o2kh-2 iFhrIy">
                        <a aria-current="page" class="Footer__HeadingLink-z0o2kh-7 gQAari" href="https://mkdecision.com/">
                            <svg width="94" alt="MK Decision" class="Footer__LogoImage-z0o2kh-8 cyUXii" id="MK_Logo_Footer"
                                data-name="MK Logo Footer" viewBox="0 0 720 256" height="30">
                                <defs>
                                    <style>
                                        .mklogofooter {
                                            fill: black;
                                        }
                                    </style>
                                </defs>
                                <polygon class="mklogofooter"
                                    points="608.94 19.95 525.85 120.31 525.85 33.35 487.92 134.76 487.92 134.76 487.92 234.35 525.85 234.35 525.85 167.26 550.12 141.46 614.36 234.35 658.74 234.35 574.11 114.88 654.09 19.95 608.94 19.95">
                                </polygon>
                                <polygon class="mklogofooter"
                                    points="513.67 19.95 432.13 234.35 405.3 234.35 345.18 78.5 345.18 234.35 308.8 234.35 308.8 19.95 357.05 19.95 418.97 184.55 480.9 19.95 513.67 19.95">
                                </polygon>
                                <polygon class="mklogofooter"
                                    points="209.65 149.58 144.51 214.73 79.37 149.58 59.97 149.58 144.51 234.12 229.04 149.58 209.65 149.58">
                                </polygon>
                                <polygon class="mklogofooter"
                                    points="136.14 104.38 94.58 145.96 144.51 195.9 208.25 132.14 265.16 132.14 272.01 125.17 265.16 118.2 202.67 118.2 144.51 176.51 113.96 145.96 155.53 104.38 136.14 104.38">
                                </polygon>
                                <polygon class="mklogofooter"
                                    points="80.75 122.05 23.98 122.05 17 129.03 23.98 135.87 86.34 135.87 144.51 77.7 175.04 108.25 133.48 149.81 152.87 149.81 194.45 108.25 144.51 58.31 80.75 122.05">
                                </polygon>
                                <polygon class="mklogofooter"
                                    points="144.51 19.73 59.97 104.38 79.37 104.38 144.51 39.24 209.65 104.38 229.04 104.38 144.51 19.73">
                                </polygon>
                            </svg></a></h1>
                    <address class="Footer__Address-z0o2kh-3 hYYutS">233 A Street, STE&nbsp;1210
                        <br>San Diego, CA 92101
                        <br>(844)888-5565</address>
                </div>
                <div class="" style="flex-grow: 2; align-self: flex-end;">
                    <div class="" style="display: flex; justify-content: center;">
                        <a href="https://www.instagram.com/mkdecision/" target="_blank" rel="noopener noreferrer"
                            class="" title="MK's Instagram page">
                            <svg alt="MK Instagram page" id="Layer_1" data-name="Layer 1" viewBox="0 0 79.08 79.37" width="27" height="27">
                                <defs>
                                    <style>
                                        .instagram {
                                            fill: black;
                                        }
                                    </style>
                                </defs>
                                <path class="instagram"
                                    d="M89,49.82c0,5.34.3,10.7-.06,16C88.08,78.64,79.21,88.15,66.42,89a264.65,264.65,0,0,1-33.56,0c-13.13-.85-22.22-10.9-22.59-24.06q-.42-15.07,0-30.19c.37-13.16,9.47-23.2,22.6-24a259.19,259.19,0,0,1,33.56,0c13.35.87,22.34,11.21,22.64,24.67.1,4.83,0,9.66,0,14.49Zm-71.43-.33c0,4.82-.05,9.65,0,14.47C17.75,74.47,25,81.74,35.48,81.84q14.16.14,28.32,0c10.51-.1,17.78-7.36,17.88-17.87q.13-14.16,0-28.32c-.1-10.51-7.36-17.78-17.87-17.88q-14.16-.14-28.32,0c-10.51.1-17.73,7.37-17.88,17.87C17.54,40.26,17.59,44.87,17.59,49.49Z"
                                    transform="translate(-10.06 -10.12)"></path>
                                <path class="instagram"
                                    d="M49.64,30.1A19.71,19.71,0,1,1,30,49.66,19.86,19.86,0,0,1,49.64,30.1Zm-.11,32A12.31,12.31,0,1,0,37.34,49.62,12.38,12.38,0,0,0,49.53,62.11Z"
                                    transform="translate(-10.06 -10.12)"></path>
                                <circle class="instagram" cx="61.26" cy="18.49" r="2.99"></circle>
                            </svg></a><a href="https://www.facebook.com/mkdecision/" target="_blank" rel="noopener noreferrer"
                            class="social-item SocialMedia__Icon-sc-198isgo-1 fPKCYn" title="MK's Facebook page"><svg
                                alt="MK Facebook page" id="Layer_1" data-name="Layer 1" viewBox="0 0 78.93 78.93" width="27"
                                height="27">
                                <defs>
                                    <style>
                                        .facebook {
                                            fill: black;
                                        }
                                    </style>
                                </defs>
                                <path class="facebook"
                                    d="M64.93,89.16V62a18.82,18.82,0,0,1,3.28,0c3.27.63,4.79-.85,5.66-3.89.77-2.73,2-5.33,3.23-8.33H64.94c0-3.61-.18-7,.13-10.28.08-.8,1.74-1.9,2.8-2.07a44.05,44.05,0,0,1,6.64-.1V25.12c-7,.12-14.19-1.48-20,4.24s-4,13.13-4.5,20.24H40.44V62h9.47v27a21.4,21.4,0,0,1-2.29.22c-8.73,0-17.46,0-26.2,0-6.73,0-10.78-4-10.79-10.71q-.06-28.81,0-57.63c0-6.48,4.11-10.53,10.64-10.54q28.81-.06,57.63,0c6.52,0,10.59,4.07,10.6,10.58q.07,28.82,0,57.62c0,6.55-4.05,10.6-10.53,10.68C74.38,89.2,69.79,89.16,64.93,89.16Z"
                                    transform="translate(-10.6 -10.24)"></path>
                            </svg></a><a href="https://twitter.com/MKDecision" target="_blank" rel="noopener noreferrer"
                            class="social-item SocialMedia__Icon-sc-198isgo-1 fPKCYn" title="MK's Twitter page"><svg
                                alt="MK Twitter page" id="Layer_1" data-name="Layer 1" viewBox="0 0 94.27 78.67" width="22.53"
                                height="27">
                                <defs>
                                    <style>
                                        .twitter {
                                            fill: black;
                                        }
                                    </style>
                                </defs>
                                <path class="twitter"
                                    d="M29.67,71.82c-8.21-1.23-14-5.45-17.21-13.5l8.3-.52c-9.58-3.66-14.69-9.67-15.4-19.45l7.13,1.71C5.49,32.25,3.61,24,7.69,15c6.41,4.61,12.39,9.56,19,13.5s14.17,5.69,22.33,6c0-2.28-.18-4.38,0-6.43C50.57,13,67.32,5.05,79.56,13.78c3.38,2.41,6,2.26,9.23,1,2-.78,3.91-1.67,5.87-2.51l.87.67-6.9,9.43,8.51-2.2.5.49a90.59,90.59,0,0,1-6.53,6.75,7,7,0,0,0-2.66,5.77c-.56,27-19.4,49.78-45.13,54.66-14.3,2.71-30.72-.27-40-7.15,4.45-.67,9.19-.9,13.63-2.17s8.69-3.6,13-5.46Z"
                                    transform="translate(-3.36 -10.16)"></path>
                            </svg></a><a href="https://www.linkedin.com/company/mkdecision/" target="_blank"
                            rel="noopener noreferrer" class="social-item SocialMedia__Icon-sc-198isgo-1 fPKCYn"
                            title="MK's LinkedIn page"><svg alt="MK LinkedIn page" id="Layer_1" data-name="Layer 1"
                                viewBox="0 0 78.93 78.75" width="27" height="27">
                                <defs>
                                    <style>
                                        .linkedin {
                                            fill: black;
                                        }
                                    </style>
                                </defs>
                                <path class="linkedin"
                                    d="M35.65,35.45H53.1v9.69c2.1-1.89,3.66-3.47,5.4-4.82,6.4-4.93,13.42-6.74,21-3.15,7.28,3.44,10.26,9.59,10.19,17.51-.09,11.49,0,23,0,34.68H72V86.09c0-9.55,0-19.1,0-28.66,0-6.4-4.74-9.27-10-5.77-3,2-5.54,4.82-8,7.49-.69.74-.73,2.28-.73,3.45-.06,8.82,0,17.65,0,26.72H35.65Z"
                                    transform="translate(-10.77 -10.69)"></path>
                                <path class="linkedin" d="M28.22,89.44H10.77V35.57H28.22Z" transform="translate(-10.77 -10.69)">
                                </path>
                                <path class="linkedin" d="M19.3,27.91A8.61,8.61,0,1,1,28,19.4,8.7,8.7,0,0,1,19.3,27.91Z"
                                    transform="translate(-10.77 -10.69)"></path>
                            </svg></a><a href="https://www.glassdoor.com/Overview/Working-at-MK-Decision-EI_IE1864890.11,22.htm"
                            target="_blank" rel="noopener noreferrer" class="social-item SocialMedia__Icon-sc-198isgo-1 fPKCYn"
                            title="MK's Glass Door page"><svg alt="MK Glass Door page" id="Layer_1" data-name="Layer 1"
                                viewBox="0 0 56.3 78.67" width="19.3" height="27">
                                <defs>
                                    <style>
                                        .glassdoor {
                                            fill: black;
                                        }
                                    </style>
                                </defs>
                                <path class="glassdoor"
                                    d="M78.11,22H35.22c-1.69,0-1.69,0-1.69,1.74q0,21.21,0,42.41c0,2.2,0,2.2-2.14,2.2-2.7,0-5.4,0-8.1,0-1,0-1.39-.39-1.38-1.33,0-1.14,0-2.28,0-3.42q0-20.64,0-41.27c0-5.07,2.64-9.23,7.1-11a13.33,13.33,0,0,1,4.54-.89c11-.07,22-.06,33,0A11.42,11.42,0,0,1,78.1,20.19,12,12,0,0,1,78.11,22Z"
                                    transform="translate(-21.89 -10.46)"></path>
                                <path class="glassdoor"
                                    d="M78.19,55.6V77.89A11.2,11.2,0,0,1,66.93,89.12H33.13A11.21,11.21,0,0,1,22,78.94c-.11-1.15.26-1.37,1.28-1.37q12.46,0,24.94,0c5.61,0,11.23,0,16.84,0,1.25,0,1.63-.28,1.63-1.59,0-14.23,0-28.45,0-42.67,0-2.06,0-2.11,2.15-2.11h7.6c1.66,0,1.78.12,1.78,1.83Z"
                                    transform="translate(-21.89 -10.46)"></path>
                            </svg></a>
                    </div>
                </div>
                
            <div class="" style="align-self: flex-end;">
                <div class="">© 2019 MK&nbsp;Decision</div>
            </div>
        </div>
    </footer>
</html>